.bright,
.dark {
  composes: input from '../atoms.module.css';
}

.bright::-ms-expand,
.dark::-ms-expand {
  display: none;
}

.bright,
.dark,
.bright:not([multiple]):not([size]),
.dark:not([multiple]):not([size]) {
  display: block;
  width: 100%;
  max-width: 100%;
  padding-right: var(--space-xl);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.bright,
.bright:not([multiple]):not([size]) {
  color: var(--gray-800);
  background-image: var(--down-arrow-gray-800),
    linear-gradient(to bottom, var(--white) 0%, var(--gray-100) 100%);
}

.dark,
.dark:not([multiple]):not([size]) {
  color: var(--yellow);
  border-color: var(--yellow);
  background-image: var(--down-arrow-yellow),
    linear-gradient(to bottom, var(--gray-700) 0%, var(--gray-800) 100%);
}

.hiddenLabel {
  position: absolute;
  left: -9999px;
}
