.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  composes: headline from '../atoms.module.css';
  margin: var(--space-s) var(--space-0);
  color: var(--blue-100);
}

.amount {
  margin: var(--space-0) var(--space-0) var(--space-m);
  line-height: 1em;
  font-size: 2.5em;
  font-weight: bold;
  color: var(--blue-100);
}

.select,
.select:not([multiple]):not([size]) {
  width: unset;
}

.button {
  composes: button from '../atoms.module.css';
  margin: var(--space-m) var(--space-0) var(--space-s);
}
