.wrapper {
  width: 100%;
  padding: var(--space-m);
}

@media (min-width: 480px) {
  .wrapper {
    max-width: 750px;
    margin: var(--space-0) auto;
  }
}

.input {
  appearance: none;
  outline: 0;
  border: var(--border-width-default) solid var(--gray-600);
  border-radius: var(--border-radius-medium);
  padding: var(--space-s) var(--space-m);
  line-height: var(--size-xl);
  background-color: var(--white);
}

.input:hover {
  box-shadow: var(--box-shadow-light);
}

.input:focus,
.input:focus:hover {
  border-color: var(--gray-800);
  box-shadow: var(--box-shadow-medium);
  outline: none;
}

.button {
  appearance: none;
  outline: 0;
  border-radius: var(--border-radius-pill);
  padding: var(--space-s) var(--space-xl);
  line-height: var(--size-xxl);
  background-color: var(--yellow);
  box-shadow: var(--box-shadow-light);
  color: var(--gray-800);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.button:hover {
  box-shadow: var(--box-shadow-medium);
}
