.wrapper {
  margin: var(--space-s) var(--space-0);
  font-size: var(--size-s);
}

.paragraph:first-child {
  margin-top: var(--space-0);
}

.paragraph:last-child {
  margin-bottom: var(--space-0);
}
