.wrapper {
  margin: var(--space-s) var(--space-0);
  font-size: var(--size-s);
}

.h1 {
  composes: headline from '../atoms.module.css';
  font-size: var(--size-xl);
}

.h2 {
  composes: headline from '../atoms.module.css';
  font-size: var(--size-l);
}

.h3 {
  composes: headline from '../atoms.module.css';
  font-size: var(--size-m);
}

.paragraph:first-child {
  margin-top: var(--space-0);
}

.paragraph:last-child {
  margin-bottom: var(--space-0);
}
