.wrapper {
  /* position: relative; */
  z-index: 0;
}

.input {
  composes: input from '../atoms.module.css';
  display: block;
  width: 100%;
  max-width: 100%;
  z-index: 0;
}

.menubox {
  position: absolute;
  width: 100%;
  padding: var(--space-0) var(--space-s);
  z-index: 1000;
}

.menu {
  width: 100%;
  margin: var(--space-0);
  padding: var(--space-0);
  overflow: hidden;
  list-style: none;
  background-color: var(--white);
  border-bottom-left-radius: var(--border-radius-medium);
  border-bottom-right-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-light);
  z-index: 1000;
}
