@import 'sanitize';
@import 'sanitize/forms';
@import 'sanitize/typography';

:root {
  --white: hsl(0, 0%, 100%);
  --gray-100: hsl(240, 13%, 95%);
  --gray-200: hsl(240, 13%, 90%);
  --gray-300: hsl(240, 13%, 80%);
  --gray-600: hsl(240, 13%, 50%);
  --gray-700: hsl(240, 13%, 40%);
  --gray-800: hsl(240, 13%, 30%);
  --blue-100: hsl(177, 51%, 93%);
  --blue-300: hsl(180, 50%, 82%);
  --yellow: hsl(49, 99%, 59%);

  --space-0: 0;
  --space-xxs: 0.125rem;
  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 2.5rem;
  --space-xxxl: 3rem;

  --size-xs: 0.8em;
  --size-s: 0.9em;
  --size-m: 1em;
  --size-l: calc(1em / 0.9);
  --size-xl: calc(1em / 0.8);

  --border-width-thin: 0.03125rem;
  --border-width-default: 0.0625rem; /* 1px @ font-size: 16px */
  --border-width-wide: 0.125rem;
  --border-radius-medium: 0.25rem;
  --border-radius-pill: 999px;

  --box-shadow-light: 0 2px 2px 0 rgba(0, 0, 0, 0.1),
    0 3px 1px -2px rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-medium: 0 3px 4px 0 rgba(0, 0, 0, 0.1),
    0 3px 3px -2px rgba(0, 0, 0, 0.07), 0 1px 8px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-heavy: 0 4px 5px 0 rgba(0, 0, 0, 0.1),
    0 1px 10px 0 rgba(0, 0, 0, 0.06), 0 2px 4px -1px rgba(0, 0, 0, 0.07);
}

html {
  font-size: 16px;
}

@media (min-width: 480px) {
  html {
    font-size: 18px;
  }
}

body {
  color: var(--gray-800);
  background-color: var(--blue-100);
}

[aria-controls] {
  cursor: default;
}
